body
{
  margin: 0;
  padding: 0;
  background: url(iot.jpg);
  background-size: cover;
  font-family: serif;
  }

  .title
  {
    text-align: center;
    padding: 86px 0 30px;
      }
      .title h1
          {
            margin: 0;
            padding: 0;
            color: #C39BD3;
            text-transform: uppercase;
            font-size: 46px;
          }

     .container
     {
       width: 50%;
       height: 400px;
       background: #85C1E9;
       margin: 0 auto;
       border: 3px solid #fff;
       box-shadow: 0 18px 50px rgba(0,0,0,.5);

     }

     .container .left
     {
       float: left;
       width: 50%;
       height: 400px;
       background: url(iotas.jpg);
       background-size: cover;
       box-sizing: border-box;
     }

     .container .right
     {
       float: right;
       width: 50%;
       height: 400px;
       box-sizing: border-box;
     }

     .formBox
     {
       width: 100%;
       padding: 80px 50px;
       box-sizing: border-box;
       height: 400px;
       background: #87E7E4;
     }

     .formBox p
     {
       font-size: 15px;
       margin: 0;
       padding: 0;
       font-weight: normal;
       color: #030303;
     }
